{% extends "layouts/base.html" %}
{% block content %}

<div class="col-md-12 ">
	<div class="row">
		<div class="col-md-12 text-center" >
			<ul class="nav nav-pills m-3" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active lifont" id="pills-intro-tab" data-toggle="pill" href="#pills-intro" role="tab" aria-controls="pills-intro" aria-selected="true">Intro</a>
				</li>
				<li class="nav-item">
					<a class="nav-link lifont" id="pills-git-tab" data-toggle="pill" href="#pills-git" role="tab" aria-controls="pills-git" aria-selected="false">Git</a>
				</li>

				<li class="nav-item">
					<a class="nav-link lifont" id="pills-asp-tab" data-toggle="pill" href="#pills-asp" role="tab" aria-controls="pills-asp" aria-selected="false">ASP</a>
				</li>

				<li class="nav-item">
					<a class="nav-link lifont" id="pills-sql-tab" data-toggle="pill" href="#pills-sql" role="tab" aria-controls="pills-sql" aria-selected="false">SQL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link lifont" id="pills-js-tab" data-toggle="pill" href="#pills-js" role="tab" aria-controls="pills-js" aria-selected="false">js & jQuery & Angular</a>
				</li>
				<li class="nav-item">
					<a class="nav-link lifont" id="pills-mtv-tab" data-toggle="pill" href="#pills-mtv" role="tab" aria-controls="pills-mtv" aria-selected="false">Python & MTV</a>
				</li>
				<li class="nav-item">
					<a class="nav-link lifont" id="pills-bash-tab" data-toggle="pill" href="#pills-bash" role="tab" aria-controls="pills-bash" aria-selected="false">Bash</a>
				</li>
			</ul>
			<div class="tab-content ml-3 text-left" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-intro" role="tabpanel" aria-labelledby="pills-intro-tab">
					{% include 'programming/intro.html' %}
				</div>
				<div class="tab-pane fade" id="pills-git" role="tabpanel" aria-labelledby="pills-git-tab">
					{% include 'programming/git.html' %}
				</div>
				<div class="tab-pane fade" id="pills-asp" role="tabpanel" aria-labelledby="pills-asp-tab">
					{% include 'programming/asp.html' %}
				</div>
				<div class="tab-pane fade" id="pills-sql" role="tabpanel" aria-labelledby="pills-sql-tab">

				</div>
				<div class="tab-pane fade" id="pills-js" role="tabpanel" aria-labelledby="pills-js-tab">

				</div>
				<div class="tab-pane fade" id="pills-mtv" role="tabpanel" aria-labelledby="pills-mtv-tab">

				</div>
				<div class="tab-pane fade" id="pills-bash" role="tabpanel" aria-labelledby="pills-bash-tab">

				</div>
			</div>
	</div>
</div>
{% endblock %}